* {
  box-sizing: border-box;
  margin: 0;
  padding: 1rem;
}

html {
  font-size: 22px;
}

.container {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

.container > .card {
  border: solid 1px red;
}

.card {
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
  height: 4rem;
}
